[Unit]
Description=Clean and start mass storage
After=lvm2-lvmetad.service dev-data-mass_storage_root.device
Requires=lvm2-lvmetad.service dev-data-mass_storage_root.device
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/upload-stick-start
RemainAfterExit=No
TimeoutSec=0

[Install]
WantedBy=sysinit.target
