[Unit]
Description=Upload new audio files on mass storage
After=upload-stick-start.service
Requires=upload-stick-start.service

[Service]
Type=simple
ExecStart=/usr/bin/upload-stick-run
Restart=always

[Install]
WantedBy=multi-user.target
Also=upload-stick-start.service
