[Unit]
Description=Prepare partition for mass storage
After=lvm2-lvmetad.service
Requires=lvm2-lvmetad.service

[Service]
Type=oneshot
ExecStart=/usr/bin/upload-stick-prepare
ExecStartPost=/bin/systemctl --no-reload disable upload-stick-prepare.service
ExecStartPost=/bin/systemctl --no-reload enable upload-stick-run.service
ExecStartPost=/bin/systemctl start upload-stick-start.service
ExecStartPost=/bin/systemctl start upload-stick-run.service
RemainAfterExit=No
TimeoutSec=0

[Install]
WantedBy=multi-user.target
